<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
      <p>Welcome to <strong><%= title %></strong></p>
    </main>
    <a href="./resume">My resumé</a>
    <footer>
        <p>Version <%= version %></p>
    </footer>
  </body>
</html>
